<a href="https://colab.research.google.com/github/meena0915/PDS_ASSIGNMENT/blob/main/ICP5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import pandas as pd
import numpy as np

In [23]:
from google.colab import drive

# This will prompt you to authorize access to your Google Drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

**Loading the dataset**

In [24]:
df = pd.read_csv('/content/drive/My Drive/Sacramentorealestatetransactions.csv')

In [25]:
df.head()

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768

**Number of the columns in the data frame**

In [26]:
df.columns.shape[0]

12

**Mean of the house prices**

In [27]:
np.mean(df['price'])

234144.26395939087

**Median of the house prices**

In [28]:
np.median(df['price'])

213750.0

**Different types of property in the dataset**

In [29]:
df['type'].unique()

array(['Residential', 'Condo', 'Multi-Family', 'Unkown'], dtype=object)

**Maximum price of a "condo" in the dataset**

In [30]:
df[df['type'] == 'Condo']['price'].max()

360000

**Mean of each type of property in the dataset**

In [31]:
df.groupby('type')['price'].mean()

type
Condo           150082.185185
Multi-Family    224534.692308
Residential     239186.162486
Unkown          275000.000000
Name: price, dtype: float64

**Count of different property types in dataset**

In [32]:
df['type'].value_counts()

type
Residential     917
Condo            54
Multi-Family     13
Unkown            1
Name: count, dtype: int64